<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="css/register.css" />
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios@0.25.0/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>

</head>

<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
          <h2 id="heading">Sign Up Your User Account</h2>
          <p>Fill all form field to go to next step</p>
          <form id="msform" action="/register" method="post"> 
            <!-- progressbar -->
            <ul id="progressbar">
              <li class="active" id="account"><strong>Account</strong></li>
              <li id="personal"><strong>Personal</strong></li>
              <li id="payment"><strong>Make Payment</strong></li>
              <li id="confirm"><strong>Finish</strong></li>
            </ul>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <br />
            <!---------------------------------accountinfo------------------------------------------->
            <!-- fieldsets -->
            <fieldset>
              <div class="form-card">
                <div class="row">
                  <div class="col-7">
                    <h2 class="fs-title">Account Information:</h2>
                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 1 - 4</h2>
                  </div>
                </div>
                <label class="fieldlabels">Email: *</label>
                <input type="email" name="email" placeholder="Email Id" value="<%=email%>" />
                <label class="fieldlabels">Username: *</label>
                <input type="text" name="uname" placeholder="UserName" value="<%=name%>" />
                <label class="fieldlabels">Profile Picture URL: </label>
                <input type="text" name="pname" value="<%=pic%>" />
              </div>
              <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <!---------------------------------------- personal info------------------------ -->
            <fieldset>
              <div class="form-card">
                <div class="row">
                  <div class="col-7">
                    <h2 class="fs-title">Personal Information:</h2>
                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 2 - 4</h2>
                  </div>
                </div>
                <label class="fieldlabels">Branch: *</label>
                <input type="text" name="bname" placeholder="Enter Your Branch" />
                <label class="fieldlabels">Year: *</label>
                <input type="text" name="yname" placeholder="Enter Year" />
                <label class="fieldlabels">Student Number *</label>
                <input type="text" name="sno" placeholder="eg.2115430" />
                <label class="fieldlabels">Student Roll.: *</label>
                <input type="text" name="srno" placeholder="eg.2100271540038" />
                <label class="fieldlabels">Questions: </label>
                <textarea name="qbox" id="" cols="30" rows="10"></textarea>
              </div>
              <input type="button" name="next" class="next action-button" value="Next" />
              <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
            </fieldset>
            <!-------------------------------make-payment------------------------------------------------>
            <fieldset>
              <div class="form-card">
                <div class="row">
                  <div class="col-7">
                    <h2 class="fs-title">Make Payment</h2>
                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 3 - 4</h2>
                  </div>
                </div>
                <div>
                  <button id="rzp-button1">Pay</button>
                  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                  <script>
                    document.getElementById('rzp-button1').onclick = async function (e) {
                      e.preventDefault();

                      let response = await fetch("/payment", {
                        method: "POST",
                        Headers: {
                          "content-type": "application/json",
                        },
                        body: JSON.stringify({
                          amount: 2000,
                          currency: "INR"
                        }),
                      });


                      let orderData = await response.json();
                      console.log(orderData);

                      var options = {
                        key: "rzp_test_42HT4PuykzwauI",
                        amount: "2000  ",
                        currency: "INR",
                        name: "Interactive Session With Sandeep Jain",
                        description: "Test Transaction",
                        order_id: orderData.id,
                        handler: function (response) {
                          alert(response.razorpay_payment_id);
                          alert(response.razorpay_order_id);
                          alert(response.razorpay_signature)
                        },
                        theme: {
                          color: "#3399cc"
                        }
                      };
                      var rzp1 = new Razorpay(options);
                      rzp1.on('payment.failed', function (response) {
                        alert(response.error.code);
                        alert(response.error.description);
                        alert(response.error.source);
                        alert(response.error.step);
                        alert(response.error.reason);
                        alert(response.error.metadata.order_id);
                        alert(response.error.metadata.payment_id);
                      });
                      rzp1.open();
                    }
                  </script>
                </div>
                <input type="button" name="next" class="next action-button" value="Submit" />
                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
            </fieldset>
            <!----------------------------------------- submit ------------------------->
            <fieldset>
              <div class="form-card">
                <div class="row">
                  <div class="col-7">
                    <h2 class="fs-title">Finish:</h2>
                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 4 - 4</h2>
                  </div>
                </div> <br><br>
                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                <div class="row justify-content-center">
                  <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                </div> <br><br>
                <div class="row justify-content-center">
                  <div class="col-7 text-center">
                    <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="js/register.js"></script>
</body>

</html>



















<button id="rzp-button1">Pay</button>
                  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                  <script>
                    document.getElementById('rzp-button1').onclick = async function (e) {
                      e.preventDefault();

                      let response = await fetch("/payment", {
                        method: "POST",
                        Headers: {
                          "content-type": "application/json",
                        },
                        body: JSON.stringify({
                          amount: 2000,
                          currency: "INR"
                        }),
                      });


                      let orderData = await response.json();
                      console.log(orderData);

                      var options = {
                        key: "rzp_test_42HT4PuykzwauI",
                        amount: "2000  ",
                        currency: "INR",
                        name: "Interactive Session With Sandeep Jain",
                        description: "Test Transaction",
                        order_id: orderData.id,
                        handler: function (response) {
                          alert(response.razorpay_payment_id);
                          alert(response.razorpay_order_id);
                          alert(response.razorpay_signature);
                        },
                        theme: {
                          color: "#3399cc"
                        }
                      };
                      var rzp1 = new Razorpay(options);
                      rzp1.on('payment.failed', function (response) {
                        alert(response.error.code);
                        alert(response.error.description);
                        alert(response.error.source);
                        alert(response.error.step);
                        alert(response.error.reason);
                        alert(response.error.metadata.order_id);
                        alert(response.error.metadata.payment_id);
                      });
                      rzp1.open();
                    }
                  </script>




let verification = fetch("/api/payment/verify", {
  method: "POST",
  Headers: {
    "content-type": "application/json",
  },
  data: {
    razorpay_order_id: response.razorpay_order_id,
    razorpay_payment_id: response.razorpay_payment_id,
    razorpay_payment_id: response.razorpay_signature,
  }
})