<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive-session-With-SandeepJain</title>
    <link rel="stylesheet" href="css/landingpage.css">
</head>

<body>
    <section class="banner">
        <div class="container">
            <div class="banner-text">
                <h1>An Exclusive Interactive Session With</h1>
                <h1>Sandeep Jain</h1>
                <p><strong> Hello Geeks!</strong>
                    So, fasten your seatbelts for something exhilarating and gear up to experience an ingenious hearing
                    from an insightful person. The opportunity is evanescent and the seats are delimited.</p>
                    <p>
                        Time:2:00 p.m.-4:00 <br>
                        Date:21st June 2022 <br>
                        Venue:Main Seminar Hall,Admin Block <br>
                        Registeration fee:Rs 20
                    </p>
                    <a href="/google" target="_blank">
                        <button class="btn btn-primary btn-lg">Register</button>
                    </a>
            </div>
        </div>
        <img class="banner-image" src="https://preview.ibb.co/bMi5Y6/banner_img.png" alt="monitoring">
    </section>
    <!-- https://preview.ibb.co/bMi5Y6/banner_img.png -->


</body>

</html>