<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paymentseccess</title>
    <link rel="stylesheet" href="css/paymentsuccess.css">
</head>
<body>
    <div class="payment-success">
        <div class="header">
          <i class="ion-close-round close"></i>
        </div>
        <div class="body">
          <h2 class="title">Payment Successful</h2>
          <img class="main-img" src="https://res.cloudinary.com/dw1zug8d6/image/upload/v1542777688/group-3_3x.png" alt="">
          <p>Your payment was successful! See You at The Session GEEKE!
          </p>
      <a href="/"><button class="btn btn-primary"  type="button">Continue</button></a>
          <!-- <button class="btn btn-primary" type="button">Submit</button> -->
          <!-- <a href="" class="cancel">Cancel</a> -->
        </div>
      </div>
</body>
</html>